.navbar-logo {
    height: 80px;
    width: auto;
}

.ant-menu-horizontal {
  display: flex;
  align-items: center;
  background-color: #000000;
  flex: 1; /* assicura che il menu occupi tutto lo spazio disponibile */
}

.ant-menu-item {
    font-size: 16px;
}

.ant-menu-item,
.ant-menu-item:hover,
.ant-menu-item-selected,
.ant-menu-item:focus {
  background-color: transparent !important;
  color: white !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

.ant-menu-item::after {
  display: none !important;
}

/* Nuove regole per posizionare avatar a destra */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #000000;
}

.navbar-menu {
    flex: 1;
    display: flex;
}

.navbar-avatar {
    cursor: pointer;
    background-color: white;
}
