.home-banner {
  background-image: url('../assets/wallpaper.jpg');
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  width: 100%;
  height: 88vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-title {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.home-logo {
  height: 320px;
  width: auto;
  border-radius: 50%;
}

/* Animazioni */
.home-title {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1s ease-out;
}

.home-logo {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

/* Animazioni quando gli elementi diventano visibili */
.home-title.animate-slide-down {
  opacity: 1;
  transform: translateY(0);
}

.home-logo.animate-slide-up {
  opacity: 1;
  transform: translateY(0);
}

/* Opzionale: per un effetto più fluido puoi aggiungere un leggero ritardo tra gli elementi */
.home-logo.animate-slide-up {
  transition-delay: 0.2s;
}